@import url('banner.css');
* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    z-index: 1;
}

#html-loc {
    position: relative;
    z-index: 0;
}

.top-banner-button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(248, 126, 81);
    border: 1px rgb(255, 97, 40) solid;
    margin: 8px 0;
}

#top-banner-info {
    color: transparent;
}

.top-banner-button:hover {
    background-color: rgb(255, 97, 40);
}